*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global Css */
a{
	text-decoration: none;
}

::selection{
	color: white;
	background: rgb(57, 172, 57);
}

html {
	scroll-behavior: smooth;
}
/* Global Css */


/*Header Section Css*/
header{
	width: 100%;
	padding: 0px auto;
	position: sticky;
    top: 0;
	background-color: white;
	box-shadow: 0px -20px 20px 17px #ff6162;
	z-index: 99;
}

.container{
	width: 1140px;
	margin: 0px auto;
}

.img_menu{
	display: flex;
}

.img_menu img{
	margin-right: 50px;
	width: 25%;
}

.img_menu ul{
	display: flex;
	list-style: none;
	margin-top: 30px;
}

.img_menu ul li{
	margin-right: 30px;
}

.img_menu ul li a{
	color: #292640;
	font-family: quicksand, sans-serif;
	font-size: 15px;
	font-weight: 900;
	position: relative;
	transition: 0.5s;
}

.img_menu ul li a:hover{
	color: #ff6162;
	font-family: quicksand, sans-serif;
	font-size: 15px;
	font-weight: 900;
	position: relative;
}

.img_menu ul li a:before{
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background-color: #ff6162;
	bottom: -7px;
	left: 0px;
	transition: 0.5s;
}

.img_menu ul li a:hover:before{
	width: 100%;
	transition: 0.5s;
}


.header_part{
	display: flex;
	justify-content: space-between;
}

.header_right input{
	margin-top: 20px;
	padding: 13px 20px;
	font-size: 14px;
	color: white;
	background-color: #ff6162;
	border: 1px solid #ff6162;
	font-family: quicksand, sans-serif;
	font-weight: 900;
	border-radius: 4px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.header_right input:hover{
	margin-top: 20px;
	padding: 13px 20px;
	font-size: 14px;
	color: #ff6162;
	background-color: transparent;
	border: 1px solid #ff6162;
	font-family: quicksand, sans-serif;
	font-weight: 900;
	border-radius: 4px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	cursor: pointer;
}


/*Banner Section Css*/
.banner{
	width: 100%;
	margin: 100px auto;
}

.banner_part{
	display: flex;
	padding-top: 40px;
}

.banner_left h2{
	font-family: yoon-a-yoonche, sans-serif;
	font-size: 40px;
	font-weight: 800;
	color: #292640;
	width: 70%;
	margin-left: 10px;
	margin-bottom: 30px;
}

.banner_left p{
	font-family: yoon-a-yoonche, sans-serif;
	font-size: 16px;
	color: #A8A8A8;
	margin-left: 10px;
	width: 75%;
	line-height: 1.4;
}

.banner_left, .banner_right{
	flex-basis: 50%;
}

.banner_right img{
	width: auto;
	margin-top: -50px;
}


/*Demo Website Section Css*/
.demo_website{
	width: 98%;
	margin: 50px 20px;
}

.demo_top{
	width: 100%;
	padding: 150px 0px 30px 0px;
	text-align: center;
}

.demo_top h3{
	font-family: yoon-a-yoonche, sans-serif;
	font-size: 25px;
	font-weight: 800;
	color: #292640;
	padding-bottom: 8px;
}

.demo_top p{
	color: #A8A8A8;
	font-size: 18px;
	font-family: 'Akaya Telivigala', cursive;
	width: 30%;
	margin: 0px auto;
	padding-bottom: 40px;
}

.demo_bottom{
	display: grid;
    grid-template-columns: 295px 292px 295px 295px;
    grid-gap: 30px;
    justify-content: center;
	position: relative;
}

.demo_bottom input{
	display: none;
}

.website_1~ .demo_overlay, .website_2~ .demo_overlay_2, .website_3~ .demo_overlay_3{
	visibility: hidden;
	opacity: 0;
}

#ov:checked~ .demo_overlay, #ov_2:checked~ .demo_overlay_2, #ov_3:checked~ .demo_overlay_3{
	visibility: visible;
	opacity: 1;
}

.demo_overlay label, .demo_overlay_2 label, .demo_overlay_3 label{
	position: fixed;
	z-index: 9999;
	top: 55px;
	left: 1200px;
	font-size: 70px;
}

#img img{
	z-index: 9999;
	position: fixed;
	width: 60px;
	cursor: pointer;
	border: none;
	background: transparent;
}

.demo_overlay, .demo_overlay_2, .demo_overlay_3{
	z-index: 99;
	position: absolute;
}

.demo_overlay .overlay img, .demo_overlay_2 .overlay_2 img, .demo_overlay_3 .overlay_3 img{
	z-index: 99;
    position: fixed;
    left: 510px;
    top: 45px;
    width: 35%;
}

.bg{
    background-color: #ff6162;
	opacity: 0.8;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 99;
}


.demo_bottom img{
	border: 1px solid #d7d7d7;
    width: 100%;
    object-fit: fill;
	cursor: zoom-in;
}

.img_label{
	margin-bottom: 100px;
}

.img_label p{
	text-align: center;
	margin-top: 8px;
	font-family: yoon-a-yoonche, sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.70);
}

.img_label:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	cursor: zoom-in;
}

/*Middle Line Css*/
.middle_line{
	height: 50px;
	width: 1.6px;
	background-color: black;
	margin: 0px auto;
	margin-bottom: 100px;
	background-color: rgba(0, 0, 0, 0.20);
}

/*Feature Section Css*/
.feature_part{
	width: 100%;
	padding: 0px auto;
}

.feature{
	z-index: -99;
}

.feature_top{
	text-align: center;
}

.feature_top h3{
	font-family: yoon-a-yoonche, sans-serif;
	font-size: 25px;
	font-weight: 800;
	color: #292640;
	padding-bottom: 5px;
}

.feature_top p{
	color: #A8A8A8;
	font-size: 18px;
	font-family: 'Akaya Telivigala', cursive;
	width: 30%;
	margin: 0px auto;
	margin-bottom: 60px;
}

.feature_bottom{
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-gap: 30px 30px;
	justify-content: center;
}

.grid{
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.grid:hover{
	cursor: pointer;
	transform: translateY(-15px);
	transition: 0.5s;
	background-color: rgb(213, 235, 233);
	color: black;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.feature_bottom h3{
	width: 100%;
	text-align: center;
	font-family: yoon-a-yoonche, sans-serif;
	color: #292640;
	font-size: 14px;
	font-weight: 750;
	margin-top: 10px;
}

.feature_bottom p{
	width: 85%;
	margin: 0px auto;
	font-size: 13px;
	font-family: quicksand, sans-serif;
	font-weight: 500;
	color: #909090;
	text-align: center;
	margin-top: 10px;
	line-height: 1.5;
}

.feature_color{
	background-color: #f3f3f3;
	border-radius: 4px;
	padding-bottom: 25px;
    padding-top: 10px;
}

.grid i{
	margin-left: 130px;
	width: 45px;
	height: 45px;
	background-color: white;
	border-radius: 100%;
	line-height: 1.8;
	text-align: center;
	font-size: 25px;
	color: #ff6162;
	margin-top: 20px;
}

/* Form Section Css */
.form{
    width: 100%;
    padding: 150px 0px;
}

.form_top{
	text-align: center;
}

.form_group{
	display: flex;
	justify-content: space-between;
}

.form_top h4{
    font-family: quicksand, sans-serif;
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
    color: #1f1f1f;
    padding-bottom: 15px;
}

.form_top p{
    font-size: 15px;
    color: #727272;
    line-height: 28px;
    font-weight: 400;
    font-family: quicksand, sans-serif;
}

.form_top{
    padding-bottom: 50px;
}

.form_all{
	text-align: center;
}

.form-control{
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 25%;
}

.form_1 input{
    flex-basis: 48%;
}

.form_space{
    margin-bottom: 25px;
}

.form_space input, .form_space textarea{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 10px 30px 10px 20px;
    resize: none;
    margin-top: 10px;
}

.form_button input{
    width: 50%;
    border-radius: 30px;
    padding: 15px;
    background-color: #ff6162;
    border: 1px solid #ff6162;
    color: white;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    margin-top: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.form_button input:hover{
    background: transparent;
    color: #ff6162;
    border: 1px solid #ff6162;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
	cursor: pointer;
}

input, textarea{
	border: 1px solid rgb(80, 73, 73);
}

input:focus, textarea:focus{
	outline: none;
	border: 1px solid #ff6162;
}

/*Footer Section Css*/
footer{
	width: 100%;
	height: 400px;
	background-color: #292640;
}

.footer h3{
	color: white;
	font-family: yoon-a-yoonche, sans-serif;
	width: 35%;
	margin: 0px auto;
	padding-top: 100px;
	text-align: center;
	font-size: 45px;
	font-weight: 750;
}

.footer div{
	text-align: center;
}

.footer_button{
	text-align: center;	
}

.footer_button input{
	margin-top: 40px;
	padding: 17px 18px;
	font-size: 11px;
	color: white;
	background-color: #ff6162;
	border: 1px solid #ff6162;
	font-family: yoon-a-yoonche, sans-serif;
	font-weight: 600;
	border-radius: 4px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.footer_button input:hover{
	margin-top: 40px;
	padding: 17px 18px;
	font-size: 11px;
	color: #ff6162;
	background-color: transparent;
	border: 1px solid #ff6162;
	font-family: yoon-a-yoonche, sans-serif;
	font-weight: 600;
	border-radius: 4px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	cursor: pointer;
}

.footer p{
	text-align: center;
	color: white;
	font-family: yoon-a-yoonche, sans-serif;
	margin: 0px auto;
	font-size: 14px;
	font-weight: 100;
	margin-top: 60px;
}

/* Sticky Button Css */
.sticky_button{
	position: relative;
}

.sticky{
	position: fixed;
	bottom: 10px;
	left: 70px;
}

.sticky img{
	background-color: transparent;
	width: 50px;
}

